
main{
    text-align: center;
    width: 100%;
    
 }

h1{ 
    text-align: center;
    color: rgba(243, 242, 251, 0.958);
    background-color: rgb(12, 226, 250);
    padding: 20px 30px;
    width: 100%;

}

 img{
    height: 200px;
    width: 200px;

}


.b{
    background-color: white;
}
.c{
    border-color: lightseagreen;
    border-style: solid;
    border-width: 15px;
    margin-top: 40px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px black;
}
.d{
    border-color: lightseagreen;
    border-style: dashed;
    border-width: 15px;
    margin-top: 40px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px black;
}
.e{
    border-color: lightseagreen;
    border-style: dotted;
    border-width: 15px;
    margin-top: 40px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px black;
}
.f{
    border-color: lightseagreen;
    border-style:groove;
    border-width: 15px;
    margin-top: 60px;
    margin-left: 300px;
    box-shadow: 10px 10px 10px black;
}
.g{
    border-color: lightseagreen;
    border-style:groove;
    border-width: 15px;
    margin-top: 60px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px black;
}
.h{
    border-color: lightseagreen;
    border-style:double;
    border-width: 15px;
    margin-top: 60px;
    margin-left: 300px;
    box-shadow: 10px 10px 10px black;
}
.i{
    border-color: rgb(245, 5, 41);
    border-style:double;
    border-width: 15px;
    margin-top: 60px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px black;
}


.x{
    height: 200px;
    width: 1000px;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 30px 30px ;
    border-top-color: green;
    border-bottom-color: blue;
    border-left-color: red;
    border-right-color: violet;
    border-style: solid;
    border-width: 10px;
    overflow: auto;

}

footer{
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(12, 211, 246);
}
footer a{
    
    color: white;
    text-decoration: none;
    margin: 40px;
}
footer a:hover{
    border-bottom: 1px solid white;
    transition: .5s ease;
    background-color: blue;
}